<html>
<head>
    <meta charset="utf-8"/>
    <title>IT Academy</title>

    <style>
        th, td{
            border:1px solid grey;
        }
        #it{   
            font-size:30px;
            text-align: center;
            color:blue;
        }
        #forma
        {
            font-size:20px;
            font-weight: bold;
            color:blue;
        }
        #inscr{
            font-size:16px;
            color:green;
            font-weight: bold;
        }
        #cata{
            font-size:16px;
            color:green;
            font-weight: bold;
        }
        #supp{
            font-size:16px;
            color:green;
        }
    </style>

</head>
<body>
    
        <h1 id="it">IT Academy</h1>
        <p id="forma">Formations disponibles</p><br/>

        <button id="inscr">Finaliser l'inscription</button>
        <button id="cata">Retourner au catalogue de formation</button>

        <table>
        
        <thead>
            <th>Id</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Debut</th>
            <th>Fin</th>
            <tbody>
            <% for (let i=0; i< panier.length; i++) { %>
            <tr><td><%= panier[i].Id %></td>
            <td><%= panier[i].Nom %></td>
            <td><%= panier[i].Prix %></td>
            <td><%= panier[i].Debut %></td>
            <td><%= panier[i].Fin %></td>
            <td><button id="supp">Supprimer</button></td>
        </tr>
            <% } %>
            </tbody>
        </thead>
        </table>
    
</body>
</html>